<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
 
    <ion-row>
      <ion-col size="12">
        <div class="display">{{ resultado }}</div>
      </ion-col>
    </ion-row>

   
    <ion-row>
      <ion-col size="3"><ion-button (click)="agregarNumero('7')">7</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="agregarNumero('8')">8</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="agregarNumero('9')">9</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="operar('/')">/</ion-button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3"><ion-button (click)="agregarNumero('4')">4</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="agregarNumero('5')">5</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="agregarNumero('6')">6</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="operar('*')">*</ion-button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3"><ion-button (click)="agregarNumero('1')">1</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="agregarNumero('2')">2</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="agregarNumero('3')">3</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="operar('-')">-</ion-button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3"><ion-button (click)="agregarNumero('0')">0</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="agregarNumero('.')">.</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="calcular()">=</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="operar('+')">+</ion-button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12"><ion-button expand="block" color="danger" (click)="limpiar()">C</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-content>
